<footer class="footer-glass text-center text-light py-4">
  <div class="container">
    <p>&copy; 2025 ShopNeon. All rights reserved.</p>
    <div class="social-icons">
      <a routerLink="/" class="facebook mx-2"
        ><i class="fa-brands fa-facebook-f"></i
      ></a>
      <a routerLink="/" class="twitter mx-2"
        ><i class="fa-brands fa-twitter"></i
      ></a>
      <a routerLink="/" class="instagram mx-2">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a routerLink="/" class="linkedin mx-2"
        ><i class="fa-brands fa-linkedin-in"></i
      ></a>
    </div>
  </div>
</footer>
